body {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 20;
    padding: 10;
    background-color:rgba(123, 238, 232, 0.521);
}

.baslıkstili {
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

.renkli {
    background-color:rgb(120, 174, 255);
}

.ortada {
    text-align: center; 
}

.kenarda {
    text-align: left;
}    

h1 {
    color: rgb(34, 34, 129)
}
.purple-title {
    color:purple;
    font-size:x-large;
    font-style:normal;
}

.kırmızı {
    color: red;
    margin:20px;
}

.ozel-stil {
    font-weight: bold;
    font-style: italic; 
}

.container {
    text-align: center;
}
 

.renkliparagraf {
    color:#f20962
}
































































































