body {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 20;
    padding: 10;
    background-color:rgb(249, 214, 214);
}

h1 {
    color:firebrick;
    margin: 50px;
}

h2 {
    color:purple;
    margin: 50px
}

h3 {
    color:blue;
    margin: 25 px;
}

h4 {
    color:darkmagenta;
    margin: 25px;
}

h5 {
    color:darkolivegreen;
    margin: 25px;
}

h6 {
    color:darkred;
    margin: 25px
}

p {
    color:red;
    margin:25px

}


































































































